################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/StateMachine/bin/Debug/netcoreapp3.1
